@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
  font-family: var(--kanit-font-family, 'sans-serif');
  background-image: url('../public/images/app-background.png');
  background-repeat: no-repeat;
  background-size: cover;
}
